.App {
  text-align: center;
  padding: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.products-list--item {
  border: 1px solid black;
  height: 140px;
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(50% - 2px);
  text-align: left;
  justify-content: space-around;
}

.products-list--item--wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: left;
  justify-content: space-around;
  padding-left: 12px;
}

.aside {
  display: block;
  width: 100%;
}
